.btn {
    height: 2rem;
    background-color: white;
    width: fit-content;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    color: #04151F;
    border: none;
}

label {
    min-width: 7rem;
    margin-right: 1rem;
}

form div {
    display: flex;
}